Bug: duplicate line of code

The duplicated readHeader() call in ChunkedInputStream causes issues with messages that have a chunked request headers and bodys but no response headers.
https://github.com/toolarium/toolarium-icap-client/blob/e23bceb417f8e17063cdaf8c5286416e273f951b/src/main/java/com/github/toolarium/icap/client/impl/ChunkedInputStream.java#L261-L263
This causes parts of the body to be interpreted as headers. Parts of the content following an empty line will be interpreted as the chunk size indicator, which might lead to the following exception.

```
java.io.IOException: Bad chunk header [xxx]:For input string: \"xxx\"
	at com.github.toolarium.icap.client.impl.ChunkedInputStream.nextChunk(ChunkedInputStream.java:275)
	at com.github.toolarium.icap.client.impl.ChunkedInputStream.read(ChunkedInputStream.java:108)
	at com.github.toolarium.icap.client.impl.ChunkedInputStream.read(ChunkedInputStream.java:94)
	at com.github.toolarium.icap.client.impl.ICAPSocket.processContent(ICAPSocket.java:152)
	at com.github.toolarium.icap.client.impl.ICAPClientImpl.processResource(ICAPClientImpl.java:439)
	at com.github.toolarium.icap.client.impl.ICAPClientImpl.validateResource(ICAPClientImpl.java:197)
	...
```

See [RFC 3507 Section 4.8.3](https://www.rfc-editor.org/rfc/rfc3507#section-4.8.3) ICAP Request Modification Example 2 for a valid example that would be interpreted incorrectly due to the bug.

Side note on https://github.com/toolarium/toolarium-icap-client/blob/e23bceb417f8e17063cdaf8c5286416e273f951b/src/main/java/com/github/toolarium/icap/client/impl/ChunkedInputStream.java#L267-L269
[RFC 3707 Section 4.4.](https://www.rfc-editor.org/rfc/rfc3507#section-4.4) references [RFC 2616 Section 3.6.1](https://www.rfc-editor.org/rfc/rfc2616#section-3.6.1) for chunk encoding, which states the chunksize might be followed by a semicolon ";" _and_ chunk-extensions before the line break. This chunk extensions would cause an exception aswell.

Could you share test(s) file to reproduce the issue?

Ist fixed in v1.4.0